@model Note

<form method="post">
    <div class="form-group">
        <label asp-for="Title"></label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Content"></label>
        <textarea asp-for="Content" class="form-control" rows="6"></textarea>
        <span asp-validation-for="Content" class="text-danger"></span>
    </div>
    <button class="btn btn-primary">Ekle</button>
</form> 