    @model List<Note>
    @{
        ViewData["Title"] = "Not Defterim";
    }

    <div class="text-center">
        <h1 class="display-4">Hoşgeldiniz</h1>
        <p>Notlarınızı oluşturup saklayabileceğiniz ve düzenleyebileceğiniz bu uygulamayı kullanmaya başlamak için lütfen <a asp-area="Identity" asp-page="/Account/Register">kaydolun</a> ya da zaten üyeyseniz <a asp-area="Identity" asp-page="/Account/Login">giriş</a> yapın.</p>
    </div>
    <a asp-controller="Notlar" asp-action="Yeni" class="btn btn-primary">Yeni Not</a>

    @if (Model.Count == 0)
    {
        <p>Üzgünüm, gösterilecek bir notun yok :(</p>
    }
    else
    {
        <ul>
            @foreach (Note note in Model)
            {
                <li>
                    <strong>@note.Title</strong><br />
                    @note.Content
                </li>
            }
        </ul>
    }