<div class="text-center">
    <h1 class="display-4">Hoşgeldiniz</h1>
    <div class="row justify-content-center">
        <p class="col-md-9">Notlarınızı oluşturup saklayabileceğiniz ve düzenleyebileceğiniz bu uygulamayı kullanmaya başlamak için lütfen <a asp-area="Identity" asp-page="/Account/Register">kaydolun</a> ya da zaten üyeyseniz <a asp-area="Identity" asp-page="/Account/Login">giriş</a> yapın.</p>
    </div>
</div> 