@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hoşgeldiniz</h1>
    <p>Notlarınızı saklayabileceğiniz ve düzenleyebileceğiniz bu uygulamaya başlamak için lütfen <a asp-area="Identity" asp-page="/Account/Register" a>kaydolun</a> ya da zaten üyeyseniz  <a asp-area="Identity" asp-page="/Account/Login">giriş</a>yapın.</p>
</div>
